@page "/MedecinList"
@inherits MedecinListBase

<h3 class="text-center">MedecinList</h3>

<div class="card-deck">
    @foreach (var medecin in Medcines)
    {
        <div class="card m-3" style="min-width :18rem ; max-width:30.5% ;">
            <div class="card-header">
                <h3 class="text-center">@medecin.prenom @medecin.nom</h3>
            </div>

            <img class="card-img-top imageThumbnail" src="@medecin.photo" />

            <div class="card-footer text-center">
                <a href="@($"MedecinDetails/{medecin.id}")" class="btn btn-primary m-1">View</a>
                <a href="@($"EditMedecin/{medecin.id}")" class="btn btn-primary m-1">Edit</a>
                <a href="@($"DeleteMedecin/{medecin.id}")" class="btn btn-danger m-1">Delete</a>



            </div>

        </div>
    }

</div>



